<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerlinks}}

    </head>
<body>

    {{>navbarHome}}

    
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    {{!-- <img src="images/abouts.jpg" alt="sam" class="img-fluid" title="Flood Unit" > --}}

                    <video width="450" height="550" autoplay>
                     <source src="images/flood.mp4" type="video/mp4">
                      {{!-- Your browser does not support the video tag. --}}
                    </video>
                </figure>
    
              </div>
       
          <div class="col-md-6 col-12 main_header_left" >
            <p>Welcome to Flood Unit</p>
            <h1>FLOOD UNIT <span class="text_clr">is developed by </span> Team PRAY</h1>
            <a href="https://openweathermap.org/" target="_blank"><button>About apis</button></a>
          </div>
          
          
        </div>
        </div>
        </div>
        </div>

        
      <div >{{>footer}} </div>
        


</body>

</html>

