<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerinfo2}}

    </head>
<body>

    {{>navbarHome}}

    <div class="top-container">
    {{!-- <img class="top-cloud" src="images/image/cloud.png" alt="cloud"> --}}
    <div style="text-align:center" class="title-text">
      <h1>After Floods.</h1>
      <h2>In the Ant's house, the dew is a flood.</h2>
    </div>
    {{!-- <img class="bottom-cloud" src="images/image/cloud.png" alt="cloud"> --}}
  </div>

  <div class="middle-container">
    {{!-- <div class="after-flood">
      <h2>After Flood.</h2>
      <p>Restore your home to good order as soon as possible to protect your health and prevent further damage to the house and its contents.</p>
    </div>
    <hr> --}}

    <div class="flood-imminent">
      <img class="flood6-image" src="images/flood6.jpg" alt="flood-img">
      <h2>Re-entering your home.</h2>
      <p>✔ Do not return home until authorities have advised that it is safe to do so.</p>
      <p>✔ If the main power switch was not turned off prior to flooding, do not re-enter your home until a qualified electrician has determined it is safe to do so.</p>
      <p>✔ Use extreme caution when returning to your home after a flood.</p>
      <p>✔ Appliances that may have been flooded pose a risk of shock or fire when turned on. Do not use any appliances, heating, pressure, or sewage system until electrical components have been thoroughly cleaned, dried, and inspected by a qualified electrician.</p>
      <p>✔ The main electrical panel must be cleaned, dried, and tested by a qualified electrician to ensure that it is safe.</p>
    </div>
    <hr />

    <div class="safety">
      <h2>Ensure building safety.</h2>
      <p>✔ Do not return home until authorities have advised that it is safe to do so.</p>
      <p>✔ If the main power switch was not turned off prior to flooding, do not re-enter your home until a qualified electrician has determined it is safe to do so.</p>
      <p>✔ Use extreme caution when returning to your home after a flood.</p>
      <p>✔ Appliances that may have been flooded pose a risk of shock or fire when turned on. Do not use any appliances, heating, pressure, or sewage system until electrical components have been thoroughly cleaned, dried, and inspected by a qualified electrician.</p>
      <p>✔ The main electrical panel must be cleaned, dried, and tested by a qualified electrician to ensure that it is safe.</p>
    </div>

    <div class="water">
      <h2>Water.</h2>
      <p>✔ Flood water can be heavily contaminated with sewage and other pollutants. It can cause sickness and infections.</p>
      <p>✔ If your house has been flooded and you have a well, don't drink the water. Have it tested first.</p>
      <p>✔ Household items that have been flood-damaged will have to be discarded according to local regulations.</p>
    </div>


   

 
        
      {{>footer}} 
    
        


</body>

</html>



