<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerinfo}}

    </head>
<body>

    {{>navbarHome}}

    <div class="top-container">
    {{!-- <img class="top-cloud" src="images/image/cloud.png" alt="cloud"> --}}
    <div style="text-align:center"class="title-text">
      <h1>Before Floods.</h1>
      <h2>Floods are 'acts of God', but flood losses are largely acts of man.</h2>
    </div>
    {{!-- <img class="bottom-cloud" src="images/image/cloud.png" alt="cloud"> --}}
  </div>

  <div class="middle-container">
    <div class="before-flood">
      <img class="flood4-image" src="images/flood4.jpg" alt="flood-img">
      <h2>Preparing for Flood.</h2>
      <h2>To reduce the likelihood of flood damage</h2>
      <p>✔ Put weather protection sealant around basement windows and the base of ground-level doors.</p>
      <p>✔ Install the drainage for downspouts a sufficient distance from your residence to ensure that water moves away from the building.</p>
      <p>✔ Consider installing a sump pump and zero reverse flow valves in basement floor drains.</p>
      <p>✔ Do not store your important documents in the basement. Keep them at a higher level, protected from flood damage.</p>
      <p>✔ If you have a livestock farm, remember that livestock have a natural "move away instinct" to flash flood waters. They generally seek higher ground if possible. When purchasing or designing your livestock operation, it is important to allow livestock a way to reach high ground in each pasture. Without access, livestock will fight fences and be at a greater risk of drowning. Livestock will initially panic during flash floods. This complicates livestock handling.</p>
    </div>
    <hr>
    <div class="flood-forecast">
      <img class="flood5-image" src="images/flood5.jpg" alt="flood-img">
      <h2>If a flood is forecast.</h2>
      <p>✔ Turn off basement furnaces and the outside gas valve.</p>
      <p>✔ Take special precautions to safeguard electrical, natural gas or propane heating equipment.</p>
      <p>✔ If there is enough time, consult your electricity or fuel supplier for instructions on how to proceed.</p>
      <p>✔ In floods, in a rural farm setting, sheltering livestock may be the wrong thing to do. Leaving animals unsheltered is preferable because flood waters that inundate a barn could trap animals inside, causing them to drown.</p>
      <p>✔ If evacuation of the animals is being considered, then evacuation procedures, places, and routes should be planned. Animal evacuation routes must not interfere with human evacuation routes. Alternate routes should be found in case the planned route is not accessible. Places where animals are to be taken should be decided in advance and arrangements made with the owners of these places to accept the animals.</p>

    </div>
    <hr>

    <div class="flood-imminent">
      <img class="flood6-image" src="images/flood6.jpg" alt="flood-img">
      <h2>If flooding is imminent.</h2>
      <p>✔ Move furniture, electrical appliances and other belongings to floors above ground level..</p>
      <p>✔ Remove toxic substances such as pesticides and insecticides from the flood area to prevent pollution.</p>
      <p>✔ Remove toilet bowls and plug basement sewer drains and toilet connections with a wooden stopper..</p>
      <p>✔ In some cases, homes may be protected with sandbags or polyethylene barriers. This approach requires specific instructions from your local emergency officials</p>
      <p>✔ Disconnect eavestroughs if they are connected to the house sewer.</p>
    </div>

 
        
      {{>footer}} 
    
        


</body>

</html>

















