<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerlinks}}

    </head>
<body>

    {{>navbar}}

    
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    {{!-- <img src="images/abouts.jpg" alt="sam" class="img-fluid" title="Flood Unit" > --}}

                    <video width="450" height="550" autoplay>
                     <source src="images/contact.mp4" type="video/mp4">
                      {{!-- Your browser does not support the video tag. --}}
                    </video>
                </figure>
    
              </div>
       
          <div class="col-md-6 col-12 main_header_left" >
            <p>Contact to Flood Unit</p>

            <h1>FLOOD UNIT <span class="text_clr">is developed by </span> Team PRAY</h1>
            <a style="padding:10px"class="btn btn-block btn-social btn-github" href="https://github.com/ayussh27" role="button">
            <i class="fab fa-github"></i>
           <div style="margin-left:30px">Ayussh Srivastav</div> 
          </a>
            
          <a style="padding:10px"class="btn btn-block btn-social btn-twitter" href="https://twitter.com/riddhi136?t=T18Ume8OKYeqUZIICbNqVA&s=08" role="button">
            <i class="fab fa-twitter"></i>
           <div style="margin-left:30px">Riddhi Sawant</div> 
          </a>

           <a style="padding:10px;"class="btn btn-block btn-social btn-linkedin" href=" https://www.linkedin.com/in/yogesh-raut-890a85169" role="button">
            <i class="fab fa-linkedin"></i>
           <div style="margin-left:30px;">Yogesh Raut</div> 
          </a>

          <a style="padding:10px"class="btn btn-block btn-social btn-twitter" href="https://twitter.com/pvartak19?t=Qma_XoRWHZIR8ui_8unPpg&s=08" role="button">
            <i class="fab fa-twitter"></i>
           <div style="margin-left:30px">Parija Vartak</div> 
          </a>
       
          </a>
          </div>
          
          
        </div>
        </div>
        </div>
        </div>

        
      <div >{{>footer}} </div>
        


</body>

</html>