<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerinfo1}}

    </head>
<body>

    {{>navbarHome}}

    

  <div class="top-container">
    <!-- <img class="top-cloud" src="images/image/cloud.png" alt="cloud"> -->
    <div style="text-align:center" class="title-text">
      <h1>Floods.</h1>
      <h2>We can't stop natural disaster but we can take some precautionary measures.</h2>
    </div>
    <!-- <img class="bottom-cloud" src="images/image/cloud.png" alt="cloud"> -->
  </div>

  <div class="middle-container">
    <div style="padding-bottom:50px"class="during-flood">
      <img class="flood1-image" src="images/flood1.jpg" alt="flood-img">
      <h2>During a Flood.</h2>
      <p>✔ Keep your radio on to find out what areas are affected, what roads are safe, where to go and what to do if
        the local emergency team asks you to leave your home.</p>
      <p>✔ Keep your emergency kit close at hand, in a portable container such as a duffel bag, back pack, or suitcase
        with wheels.</p>

    </div>
    <hr>
    <div class="need-evacuation">
      <img class="flood2-image" src="images/flood2.jpg" alt="flood-img">
      <h2>If you need to evacuate.</h2>
      <p>✔ Vacate your home when you are advised to do so by local emergency authorities. Ignoring such a warning could
        jeopardize the safety of your family or those who might eventually have to come to your rescue..</p>
      <p>✔ Take your emergency kit with you.</p>
      <p>✔ Follow the routes specified by officials. Don't take shortcuts. They could lead you to a blocked or dangerous
        area.</p>
      <p>✔ Make arrangements for pets.</p>
      <p>✔ Time permitting, leave a note informing others when you left and where you went. If you have a mailbox, leave
        the note there.</p>

    </div>
    <hr>

    <div class="flooded-area">
      <img class="flood3-image" src="images/flood3.jpg" alt="flood-img">
      <h2>Never Cross Flooded Area.</h2>
      <p>✔ If you are on foot, fast water could sweep you away.</p>
      <p>✔ If you are in a car, do not drive through flood waters or underpasses. The water may be deeper than it looks
        and your car could get stuck or swept away by fast water.</p>
      <p>✔ Avoid crossing bridges if the water is high and flowing quickly.</p>
      <p>✔ If you are on foot, fast water could sweep you away.</p>
      <p>✔ If you are caught in fast-rising waters and your car stalls, leave it and save yourself and your passengers.
      </p>
    </div>
   
        
      <div >{{>footer}} </div>
      </div>
        


</body>

</html>