<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerlinks}}

    </head>
<body>

  {{>navbarHome}} 


<div>

 <head>
    {{!-- <meta http-equiv="refresh" content="7; url='http://127.0.0.1:5000/predicts.html'" /> --}}
  </head>
  <body>
        <p> <center><h1 class="ex2">CLICK HERE<a href="http://127.0.0.1:5000/predicts.html">TO SEE FLOOD PREDICTION</a>.</p></h1></center>
  </body>





</div>




  <div class="ex1">
    


    {{>footer}} 
    
    
    </div>


 <style>
h1.ex2 {
  padding-top: 215px;
}
</style>


    <style>
div.ex1 {
  padding-top: 23%;
}
</style>

</body>

</html>